@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.wrap{
  margin-top:1%;
}
.username {
  width: 90%;
  border: 1px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchButton {
  width: 10%;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.search {
  width: 98%;
  position: relative;
  display: flex;
  left:1%;
}

.userResults{
    width:96%;
    left: 3%;
    position: absolute;
    top: 20%;
}


.pagination li{
  width:11%;
  padding-left:15px;
  padding-right:15px;
  padding-top:5px;
  padding-bottom:5px;
  border: 1px solid #ccc;
  border-right:none;
}

.pagination li:first-child{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination li:last-child{
  border-right:1px solid #ccc;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.results{
  width:100%;
  float:left;
}

.pages{
  width:30%;
  float:right;
}

.application{
  border-left: none;
  border: 1px solid #00B4CC;
  line-height: 1.2px;
  display: block;
  font-size: 1em;
}

.pagination li.disabled a{
  color:grey;
  font-weight:bold;
}

.pagination li.active a{
  font-weight:bold;
}